@import url('reset.css');
@import url('theme.css');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
body {
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: var(--background-color);
    color: var(--text-color);
}

textarea, input, h1, p , label, .btn , a {
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

/* header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3rem 5rem;
}

.main, footer {
    padding: 3rem 5rem;
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.row__header {
    display: flex;
    gap: 2rem;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
}

.header__titulo {
    text-align: center;
    font-size: 3.5rem;
}

.animationContainer, .animationGitHub, .animationLinkedIn {
    width: 5rem;
    height: 5rem;
}

.animationGitHub, .animationLinkedIn {
    width: 3rem;
    height: 3rem;
}

.theme-selector {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid var(--btn-color);
    z-index: 9999;
}

.theme-selector label {
    margin-right: 1rem;
}

#theme-select {
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--font-krone);
}

/* Fin Header */

/* Barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Manija de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: var(--primary-500);
    border-radius: 10px;
}

/* Manija de la barra de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-200);
}
/* Fin barra de desplazamiento */

/* Main contenido */
.main__contenido {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    gap: 2rem; /* Espacio entre los dos textarea */
    flex-wrap: wrap;
    text-align: center;
}

.textarea__desencriptado,
.textarea__encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.label {
    font-family: var(--font-krone);
    font-size: 2.5rem;
}

textarea {
    width: 100%;
    height: 30rem;
    border: 0.25rem solid var(--btn-color);
    padding: 2rem;
    border-radius: 0.5rem;
    font-family: var(--font-krone);
    font-size: 2rem;
    color: var(--text-color);
    background-color: var(--btn-color);
    resize: none;
    outline: none;
    background: scroll;
    padding: 5%;
}

.btn-encriptar, .btn-desencriptar, .btn {
    font-size: 1rem;
    font-family: var(--font-krone);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    color: var(--btn-font-color);
    background-color: var(--btn-color);
}

.btn-txtarea-desencriptado {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

/* Placeholder del text Area */
#txtarea-desencriptado::-webkit-input-placeholder{ 
    font-size: 1rem;
    font-family: var(--font-Montserrat);
    color: var(--text-color);
}
#txtarea-desencriptado::-moz-placeholder{ 
    font-size: 1rem;
    font-family: var(--font-Montserrat);
    color: var(--text-color);
}
#txtarea-desencriptado:-moz-placeholder {
    font-size: 1rem;
    font-family: var(--font-Montserrat);
    color: var(--text-color);
}
#txtarea-desencriptado:-ms-input-placeholder {
    font-size: 1rem;
    font-family: var(--font-Montserrat);
    color: var(--text-color);
}


/* Main Fin */

/* prueba del oso */
.textarea__encriptado {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.txtarea__encriptado {
    width: 100%;
    height: 30rem; 
    outline: none;
    z-index: 1; 
    position: relative; 
}

.textarea-image {
    position: absolute;
    bottom: 0%;
    right: 1%; 
    width: 17rem;
    height: 17rem; 
    z-index: 0; 
    pointer-events: none;
}

#svgOso {
    display: none; 
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

#svgOso.show {
    display: block;
    opacity: 1;
}


/* Fin oso        */

/* oso dos */
.textarea__desencriptado{
    position: relative;
}
.oso__desencriptado{
    position: absolute;
    bottom: 5rem; 
    width: 5rem;
    height: 5rem; 
    z-index: 1; 
    pointer-events: none;
    display: none;
}
/* Oso advertencia*/

/* footer */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.footer {
    background-color: var(--btn-color);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--btn-font-color);
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Espacio entre los elementos */
}

.footer p {
    margin: 0;
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido del párrafo */
}

.footer a {
    color: var(--btn-font-color);
    text-decoration: none;
    display: flex;
    align-items: center; /* Alinea verticalmente el ícono dentro del enlace */
}

.footer a:hover {
    text-decoration: underline;
}

.footer-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem; /* Espacio entre el párrafo y el ícono */
}
/*Fin footer */

/* Media Queries */

@media (max-width: 1024px) {
    .header, .main, footer {
        padding: 2rem 4rem;
    }

    .textarea__desencriptado, .textarea__encriptado {
        width: 100%;
    }

    .row__header{
        flex-direction: column;
    }

}

@media (max-width: 768px) {
    .header, .main, footer {
        padding: 1.5rem 3rem;
    }

    .row__header {
        flex-direction: column;
        align-items: center;
    }

    .textarea__desencriptado, .textarea__encriptado {
        width: 100%;
    }

    textarea {
        height: 25rem;
    }

    .btn-encriptar, .btn-desencriptar, .btn {
        padding: 0.5rem 1.5rem;
    }
}

@media (max-width: 445px) {

    .label{
        font-size: 1.5rem;
    }

    .header, .main, footer {
        padding: 1rem 2rem;
    }

    .textarea__desencriptado, .textarea__encriptado {
        width: 100%;
    }

    textarea {
        height: 20rem;
    }

    .btn-encriptar, .btn-desencriptar, .btn {
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 375px) {

    .header__titulo {
        font-size: 2.5rem;
    }

    .header, .main, footer {
        padding: 1rem 1.5rem;
    }

    .textarea__desencriptado, .textarea__encriptado {
        width: 100%;
    }

    textarea {
        height: 18rem;
    }

    .btn-encriptar, .btn-desencriptar, .btn {
        padding: 0.5rem 1rem;
    }

    .theme-selector {
        top: 0.5rem;
        right: 0.5rem;
    }


}

@media (max-width: 320px) {

    .header__titulo {
        font-size: 2rem;
    }

    .header, .main, footer {
        padding: 0.5rem 1rem;
    }

    .textarea__desencriptado, .textarea__encriptado {
        width: 100%;
    }

    textarea {
        height: 15rem;
    }

    .btn-encriptar, .btn-desencriptar, .btn {
        padding: 0.5rem 1rem;
    }

    .theme-selector {
        z-index: 9999;
        position: fixed;
        align-items: center;
        justify-content: center;
    }

    .oso__desencriptado{
        position: absolute;
        bottom: 5rem; 
        width: 4rem;
        height: 4rem; 
    }

    textarea {
        font-family: var(--font-krone);
        font-size: 1rem;
    }
}